main{
    background: rgb(245,88,9);
    background: linear-gradient(180deg, rgba(245,88,9,1) 0%, rgba(241,211,32,1) 45%, rgba(46,91,124,0.852000175070028) 86%);

        .fomulario{
            padding: 20px;
            margin-bottom: 10px;
            display: flex;
        
            form input{
                background-color: rgb(193, 189, 189);
                border: 0px;
                border-radius: 1 px;
                margin-top: 10px;
                
                &:focus{
                    background-color: $color-blanco;
                }
            }
        }

        .botonformulario{
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(90, 88, 88, 0.544);
            color: $color-blanco;
            text-decoration: none;
            margin-top: 70px;
            transition: 1s;
            
            &:hover{
                background-color: black;
                margin: 15px;
                transform: rotate(360deg);
            }
        }
        
        .rating{
            margin-bottom: 5px;
            margin-top: 20px;
            padding: 20px;
        }
}