body{
    footer{
        display: flex;
        border-top: 1px solid black;
        justify-content: space-between;
    
        .imgfooter{
            align-items: left;
            justify-content: left;
            width: 40px;
            height: 40px;
        }

        .redes{
            width: 45px;
            height: 45px;
        }
    
        p{
            justify-content: center;
            align-items: center;
        }
    }
} 