body{
    header{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgb(70, 68, 68);
        padding: 20px;
        align-items: flex-end;

            .minav-bar{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .imglogo{
                    width: 30 px;
                    height: 30 px;
                    align-items: start;
                        }
                    }

            .barranavdos{
                .mislinks{
                    display: flex;
                    text-decoration: none;
                    margin: 10px;
                    font-weight: bold;
                        }
                    }
    }
}
