body{
    main{
            .historia{
                font-size: 1.7rem;
                font-style: italic;
                justify-content: center;
                padding: 30px;
            }

            .textocards{
                animation-name: Aparecer;
                animation-iteration-count: initial;
                animation-timing-function: linear;
                animation-duration: 1s;
                animation-delay: 0s;

                .cardsinfo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    border: 2px;
                    padding: 5px;
    
                    .infopics{
                        width: 170px;
                        height: 170px;
                        align-items: center;
                        padding: 5px;
                        flex-wrap: wrap;
                    }
    
                    .texto-fotos{
                        color: $color-blanco;
                        background-color: rgb(35, 35, 35);
                        font-weight: bolder;
                        text-align: center;
                        padding: 10px;
                        border-radius: 50% 20% / 10% 40%;
                        flex-wrap: wrap;
                    }
               }

            }
    }
}