body{
    main{
            .historia{
                font-size: 1.7rem;
                font-style: italic;
                justify-content: center;
            }

            .cardsinfo{
                display: flex;
                justify-content: space-around;
                border: 2px;
                padding: 10 px;

                .infopics{
                    width: 20px;
                    height: 20px;
                }

                .texto-fotos{
                    color: $color-blanco;
                    background-color: grey;
                    font-weight: bolder;
                    text-align: center;
                    padding: 20px;
                }
           }
    }
}